
fx-carousel {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  overflow: hidden;
}

fx-carousel > * {
  flex: 0 0 100%;
  margin: 0;
  will-change: transform;
}

html:not(.javascript) fx-carousel {
  display: block;
}

html:not(.javascript) fx-carousel > * {
  width: 100%;
  margin: 0;
}
