.full-window {
  position: relative;
}

.gradient.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.warm.gradient {
  background-color: crimson;
  background-image: linear-gradient(
    crimson, orange);
}

.cool {
  background-color: blue;
  background-image: linear-gradient(
    blue, teal);
}

.violet {
  background-color: violete;
  background-image: linear-gradient(
    violet, hsl(220, 100%, 80%));
}

.toxic-dew {
  background-color: 
    hsl(290, 100%, 30%);
  background-image: linear-gradient(-45deg,
    hsl(75, 100%, 50%), 
    hsl(105, 100%, 50%));
}

.tomato {
  background-color: #fffaef;
  background-image: linear-gradient(180deg, 
    hsl(355, 100%, 45%),
    hsl(0, 100%, 65%) 15%,
    hsl(250, 100%, 10%));
}

.fifties {
  background-color: 
    hsla(10, 75%, 60%, 1);
  background-image: linear-gradient(50deg, 
    hsla(10, 75%, 60%, 1) 0%,
    #C6CA52 40%,
    #74B0BB 42%,
    #74B0BB 60%,
    #236D6E 80%);
} 

.old-film {
  background-color: 
    hsla(10, 75%, 60%, 1);
  background-image: linear-gradient(90deg, 
    hsla(15, 90%, 10%, 1) 0%,
    hsla(15, 100%, 15%, 1) 20%,
    hsla(15, 80%, 10%, 1) 20%,
    hsla(15, 100%, 15%, 1) 40%,
    hsla(15, 60%, 10%, 1) 40%,
    hsla(15, 100%, 15%, 1) 60%,
    hsla(15, 40%, 10%, 1) 60%,
    hsla(15, 100%, 15%, 1) 80%,
    hsla(15, 20%, 10%, 1) 80%,
    hsla(15, 100%, 15%, 1) 100%
   );
}

.color-rings {
  background-color: 
    hsla(10, 75%, 60%, 1);
  background-image: radial-gradient(
    hsla(0, 100%, 50%, 1),
    hsla(10, 100%, 50%, 1),
    hsla(15, 100%, 50%, 1),
    hsla(20, 100%, 50%, 1),
    hsla(25, 100%, 50%, 1),
    hsla(30, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1),
    hsla(40, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1),
    hsla(50, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1))
}

