
.gradient.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient.translucent { opacity: 0.5; }
.gradient.blend-multiply { mix-blend-mode: multiply; }
.gradient.blend-screen { mix-blend-mode: screen; }
.gradient.blend-overlay { mix-blend-mode: overlay; }
.gradient.blend-darken { mix-blend-mode: darken; }
.gradient.blend-lighten { mix-blend-mode: lighten; }
.gradient.blend-dodge { mix-blend-mode: color-dodge; }
.gradient.blend-burn { mix-blend-mode: color-burn; }
.gradient.blend-hard { mix-blend-mode: hard-light; }
.gradient.blend-soft { mix-blend-mode: soft-light; }
.gradient.blend-difference { mix-blend-mode: difference; }
.gradient.blend-exclusion { mix-blend-mode: exclusion; }
.gradient.blend-hue { mix-blend-mode: hue; }
.gradient.blend-saturation { mix-blend-mode: saturation; }
.gradient.blend-color { mix-blend-mode: color; }
.gradient.blend-luminosity { mix-blend-mode: luminosity; }


// fallback for those is just 50% opacity
html.no-mix-blend-mode {

  .gradient.blend-multiply,
  .gradient.blend-screen,
  .gradient.blend-overlay,
  .gradient.blend-darken,
  .gradient.blend-lighten,
  .gradient.blend-dodge,
  .gradient.blend-burn,
  .gradient.blend-hard,
  .gradient.blend-soft,
  .gradient.blend-difference,
  .gradient.blend-exclusion,
  .gradient.blend-hue,
  .gradient.blend-saturation,
  .gradient.blend-color,
  .gradient.blend-luminosity {
    opacity: 0.5
  }
}

.gradient.text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-parent {
  position: relative;
  overflow: hidden;
}

// mixin to generate all styles with given rotation
.gradients(@sel, @deg) {

  .warm.gradient@{sel} {
    background-image: linear-gradient(@deg, crimson, orange);
  }

  .cold.gradient@{sel} {
    background-image: linear-gradient(@deg, blue, teal);
  }

  .violet.gradient@{sel}{
    background-image: linear-gradient(@deg,
      violet, hsl(220, 100%, 80%));
  }

  .blue.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(295, 45%, 20%, 1),
      hsla(240, 90%, 60%, 1));
  }

  .pinklimo.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(325, 75%, 50%, 1),
      hsla(280, 100%, 80%, 1));
  }

  .delta.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(145, 75%, 50%, 1),
      hsla(080, 100%, 80%, 1));
  }

  .bravo.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(030, 75%, 50%, 1),
      hsla(115, 100%, 80%, 1));
  }

  .gore.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(000, 75%, 50%, 1),
      hsla(350, 100%, 80%, 1),
      hsla(000, 75%, 50%, 1);)
  }

  .sunny.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(050, 75%, 50%, 1),
      hsla(040, 100%, 80%, 1));
  }

  .bublegum.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(205, 75%, 50%, 1),
      hsla(350, 100%, 55%, 1));
  }

  .flood.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsla(230, 75%, 20%, 1),
      hsla(250, 050%, 55%, 1));
  }

  .toxic-dew.gradient@{sel}{
    background-image: linear-gradient(@deg,
      hsl(75, 100%, 50%), 
      hsl(105, 100%, 50%));
  }

  .tomato.gradient@{sel} {
    background-image: linear-gradient(@deg,
      hsl(0, 100%, 65%) 15%,
      hsl(250, 100%, 10%));
  }

  .fifties.gradient@{sel} {
    background-image: linear-gradient(@deg,
      hsla(10, 75%, 60%, 1) 0%,
      #C6CA52 40%,
      #74B0BB 42%,
      #74B0BB 60%,
      #236D6E 80%);
  } 

  .old-film.gradient@{sel} {
    background-image: repeating-linear-gradient(@deg,
      hsla(15, 90%, 10%, 1) 0%,
      hsla(15, 100%, 15%, 1) 20%);
  }

  .rainbow.gradient@{sel} {
    background-image: linear-gradient(@deg, 
      rgba(77,20,140,1) 0%,
      rgba(27,119,205,1) 20%,
      rgba(54,160,48,1) 40%,
      rgba(255,210,0,1) 60%,
      rgba(255,160,0,1) 80%,
      rgba(207,15,15,1) 100%);
  }

  .rainbow-flag.gradient@{sel} {
    background-image: linear-gradient(@deg, 
      rgba(77,20,140,1) 0%,
      rgba(77,20,140,1) 18%,
      rgba(27,119,205,1) 18%,
      rgba(27,119,205,1) 33%,
      rgba(54,160,48,1) 33%,
      rgba(54,160,48,1) 50%,
      rgba(255,210,0,1) 50%,
      rgba(255,210,0,1) 66%,
      rgba(255,160,0,1) 66%,
      rgba(255,160,0,1) 83%,
      rgba(207,15,15,1) 83%,
      rgba(207,15,15,1) 100%);
  }

}

.gradients(~'', ~'0deg');
.gradients(~'.rotate-45', ~'45deg');
.gradients(~'.rotate-90', ~'90deg');
.gradients(~'.rotate-135', ~'135deg');
.gradients(~'.rotate-180', ~'180deg');
.gradients(~'.rotate-225', ~'225deg');
.gradients(~'.rotate-270', ~'270deg');
.gradients(~'.rotate-315', ~'325deg');



.color-rings.gradient {
  background-image: radial-gradient(center, 
    hsla(0, 100%, 50%, 1),
    hsla(10, 100%, 50%, 1),
    hsla(15, 100%, 50%, 1),
    hsla(20, 100%, 50%, 1),
    hsla(25, 100%, 50%, 1),
    hsla(30, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1),
    hsla(40, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1),
    hsla(50, 100%, 50%, 1),
    hsla(0, 100%, 50%, 1))
}


// Animation
// ---------

.gradient.revolve,
.gradient.revolve-reverse {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name: gradient-revolve;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gradient.revolve-reverse {
  animation-direction: reverse;
};

@keyframes gradient-revolve {
  0%   { transform: scale(2) translate(-25%, -25%); }
  25%  { transform: scale(2) translate(-25%, 25%); }
  50%  { transform: scale(2) translate(25%, 25%); }
	75%  { transform: scale(2) translate(25%, -25%); }
  100% { transform: scale(2) translate(-25%, -25%); }
}


.gradient.pan,
.gradient.pan-vertical {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.gradient.pan {
  animation-name: gradient-pan;
}
@keyframes gradient-pan {
  from { transform: scale(3,1) translateX(-33%); }
  to   { transform: scale(3,1) translateX(33%); }
}


.gradient.pan-vertical {
  animation-name: gradient-pan-vertical;
}

@keyframes gradient-pan-vertical {
  from { transform: scale(1,3) translateY(-33%); }
  to   { transform: scale(1,3) translateY(33%); }
}


.gradient.pan-continuous {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes gradient-pan-vertical {
  from { transform: scale(1,3) translateY(-33%); }
  to   { transform: scale(1,3) translateY(33%); }
}



.gradient.fast {
  animation-duration: 1s;
}

.gradient.slow {
  animation-duration: 3s;
}

.gradient.slower {
  animation-duration: 4s;
}


